<h1>Обновлённый комментарий</h1>

<p>
	<%= @comment.text %>
</p>

<% if @comment.user_id == current_user.id %>
	<%= link_to 'Редактировать', edit_comment_path(@comment) %>
<% end %>
<%= link_to 'Назад', articles_path %>