<% provide(:title, @user.fio) %>
<div class="row">
	<div class="span8">
		<% if @user.articles.any? %>
			<h3>Мои статьи (<%= @user.articles.count %>)</h3>
				<%= render @articles %>
			<%= will_paginate @articles %>
		<% end %>
	</div>
</div>