<% provide(:title, @user.fio) %>
<div class="row">
	
	<div class="span8">
		<%= render 'follow_form' if signed_in? %>
		<% if @user.articles.any? %>
			<h3>Мои статьи (<%= @user.articles.count %>)</h3>
			<ol class="comments">
				<%= render @articles %>
			</ol>
			<%= will_paginate @articles %>
		<% end %>
	</div>
</div>